# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
package-lock.json
yarn.lock

# Expo
.expo/
dist/
web-build/
expo-env.d.ts
*.jks
*.keystore

# Native
.kotlin/
*.orig.*
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# OS files
.DS_Store
.DS_Store?
*.swp
*.swo
*~
.vscode/
.idea/

# local env files
.env
.env.local
.env.*.local

# typescript
*.tsbuildinfo

# Testing
coverage/
.nyc_output/

# IDE
.idea/
.vscode/
*.sublime-workspace

# Temporary files
*.tmp
tmp/
temp/

# app example
app-example/

# generated native folders
/ios
/android

# AsyncStorage
/asyncstorage/
